extends layout

block content
  h1= title
  p Welcome to #{title}
  
  select#symbol1
    option(value="1") EURUSD
    |                                                 
    option(value="2") AUDUSD
    |                                                 
    option(value="3") GBPUSD
    |                                                 
    option(value="4") USDJPY
    |                                                 
    option(value="5") EURGBP
    |                                                 
    option(value="6") EURJPY
    |                                                 
    option(value="7") USDCAD
    |                                                 
    option(value="8") USDCHF
    |                                                 
    option(value="9") DIAMOND
    |                                                 
    option(value="10") GOLD
    |                                                 
    option(value="11") SILVER
    |                                                 
    option(value="12") OIL
